
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #fff;
    color: #333;
  }
  

  .cabeza {
    background-color: #5300C8;
    color: white;
    text-align: center;
    padding: 10px 0;
  }
  
  .cabeza h1 {
    font-size: 2rem;
    margin: 0;
  }
  

  .añadeProducto {
    text-align: center;
    margin: 20px;
  }
  
  .añadeProducto h2 {
    font-family: 'Press Start 2P', cursive;
  }
  
  #formularioProducto{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  
  #formularioProducto input {
    width: 80%;
    padding: 10px;
    border: 2px solid #000080;
    border-radius: 5px;
  }
  
  .botonEnviar {
    background-color: #000080;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
  }
  
  .botonLimpiar {
    background-color: white;
    color: #000080;
    padding: 10px 20px;
    border: 2px solid #000080;
    border-radius: 5px;
  }
  

  .listas{
    padding: 20px;
  }
  
  .cuadro {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
  }
  
  .product-card {
    background-color: #5300C8;
    color: white;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
  }
  
  .product-card img {
    max-width: 100%;
    border-radius: 5px;
  }
  

  .elFinal {
    background-color: #5300C8;
    color: white;
    text-align: center;
    padding: 10px 0;
  }
  
  .elFinal p {
    margin: 5px 0;
  }
  
  @media (min-width: 601px) and (max-width: 1024px) {
    .cabeza h1 {
      font-size: 2rem;
    }
  
    .añadeProducto h2 {
      font-size: 1.4rem;
    }
  
    .formularioProducto {
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
    }
  }
  
  @media (min-width: 1025px) {
    .cabeza {
      padding: 20px 0;
    }
  
    .añadeProducto {
      margin: 40px;
    }
  
    .formularioProducto {
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
    }
  
    .elFinal {
      font-size: 1rem;
    }
  }